<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Async ball</title>
</head>

<body>
    <div>
        <div class="ball" id="ball1"></div>
        <div class="ball" id="ball2"></div>
        <div class="ball" id="ball3"></div>
    </div>
    <div>
        <button>Callback</button>
        <button>Promise</button>
        <button>Async/Await</button>
        <button onclick="window.location.reload()">REFRESH</button>
    </div>
</body>

</html>